@media only screen and (min-width: 1024px) {
    .aboutus{
        background-image: url('../Assets/team_pic.png');
        background-size: contain;
        background-color:rgba(0, 0, 0, 0.5);
        background-repeat: no-repeat;
        background-size: 100% 500px;
    }
  }

@media only screen and (max-width: 640px) {
    .team_mobile{
        width:max-content;
        opacity: 40%;
        width: 100%;
    }
}